#项目参考文件
.ref/
.claude/
nul

#Server端临时文件
server/go.sum

#Server端配置文件
src/config.yaml

#Client后端临时文件
client/src-tauri/gen
client/src-tauri/target
client/src-tauri/Cargo.lock

#Client前端临时文件
client/src-vue/*/node_modules
client/src-vue/*/dist
client/src-vue/*/package-lock.json
client/src-vue/*/package.json.md5
client/src-vue/mobile/android/

#项目README
!README.md

#按文件排除
*.log
*.txt
*.md
*.lnk
*.apk
*.exe
*.exe~
*.lib
*.bin
*.dll
*.so
*.dylib
*.test
*.out