#项目参考文件
.ref/
.claude/
nul

#Server端临时文件
server/go.sum

#Server端配置文件
server/src/config.yaml

#Client桌面端临时文件
client/src-wails/.task/
client/src-wails/bin/
client/src-wails/build/
client/src-wails/frontend/dist/
client/src-wails/frontend/node_modules/

#Client桌面前端临时文件
client/src-vue/*/node_modules
client/src-vue/*/dist
client/src-vue/*/package-lock.json
client/src-vue/*/package.json.md5

#Client移动端临时文件
client/src-vue/mobile/android/bin/
client/src-vue/mobile/android/gen/
client/src-vue/mobile/android/out/
client/src-vue/mobile/android/proguard/
client/src-vue/mobile/android/.navigation/
client/src-vue/mobile/android/captures/
client/src-vue/mobile/android/.gradle/
client/src-vue/mobile/android/build/
client/src-vue/mobile/android/app/build/
client/src-vue/mobile/android/app/release.keystore
client/src-vue/mobile/android/local.properties
client/src-vue/mobile/android/.idea/
client/src-vue/mobile/android/capacitor-cordova-android-plugins/

#项目README
!README.md

#按文件排除
*.log
*.txt
*.md
*.lnk
*.apk
*.exe
*.exe~
*.lib
*.bin
*.dll
*.so
*.dylib
*.test
*.out
*.db
*.iml
*.dex
*.class
*.apk
*.aar
*.ap_
*.aab