.ref/
.claude/
CLAUDE.md

bin/go.sum

src/config.yaml

client/go.sum
client/build/bin
client/frontend/node_modules
client/frontend/dist
client/frontend/wailsjs
client/frontend/package-lock.json

*.exe
*.exe~
*.lib
*.bin
*.dll
*.so
*.dylib
*.test
*.out
*.log
*.lnk
*.work
*.txt
*.md
*.md5

!README.md